<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.instagramclone.model.mapper.HashtagMapper">
    <!-- 인기 해시태그 상위 10개 count 내림차순
     count 라는 명칭보다는 hashtag_count 와 같이 장문의 명명규칙을 써야지
     기존에 예약어로 존재하는 count() 와 혼동이 되지 않는다.
     -->
    <select id="인기해시태그조회" resultType="com.project.instagramclone.model.dto.HashTag" >
        SELECT *
        FROM hashtag
        ORDER BY  count DESC
        LIMIT 10
    </select>
    <!-- 키워드로 해시태그 검색 (# 제외 후 LIKE 검색)
    #spring 검색하면 REPLACE() - 교체하다.
    REPLACE('원본데이터를','이것으로 수정하겠다.')
    ('%', REPLACE(#{keyword}, '#', ''), '%') -> #은 전부다 없애겠다.
    -->
    <select id="해시태그검색" resultType="com.project.instagramclone.model.dto.HashTag" >
        SELECT *
        FROM hashtag
        WHERE name LIKE CONCAT('%', REPLACE(#{keyword}, '#', ''), '%')
        ORDER BY  count DESC
        LIMIT 10
    </select>
</mapper>