<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.instagramclone.model.mapper.UserMapper">
    <insert id="회원가입"
            parameterType="com.project.instagramclone.model.dto.User">
        INSERT INTO users
            (name, email, password, created_at)
        VALUES (#{name}, #{email}, #{password}, now())
    </insert>
    <select id="이메일중복체크" parameterType="com.project.instagramclone.model.dto.User" resultType="int">
        SELECT count(*)
        FROM users
        WHERE email = #{email}
    </select>

    <select id="이메일로회원찾기" parameterType="String"
            resultType="com.project.instagramclone.model.dto.User">
        SELECT * FROM users WHERE email = #{email}
    </select>
    <select id="모든회원조회" parameterType="com.project.instagramclone.model.dto.User">
        SELECT *
        FROM users
    </select>
    <!--
    @맨션 검색용 쿼리
    유저 @hong 으로 입력하면  name 에서 hong 이 포함된 유저 목록 반환
    LIMIT 5 : 유저이름이 너무 많이 뜨면 UX(성능)dl 나빠지므로 5명 반환

    name LIKE CONCAT('%', #{keyword}) 앞에 뭐가오든 상관 없이 맨 뒤에 keyword 가 있어야 한다.
        예    : keyword = kim
        결과 : kim, parkim, hello kim ...
    name LIKE CONCAT(#{keyword}, '%') 무조건 keyword 로 시작하고 뒤에 오는 상관 없다
        예    : keyword = kim
        결과 : kim, kimchi, kim123 ...
    name LIKE CONCAT('%', #{keyword}, '%')
        예    : keyword = kim
        결과 : kim, parkkim123, kimchi, parkim ...
        단어에 kim 이 들어가면 된다.
    -->
    <select id="유저명검색" resultType="com.project.instagramclone.model.mapper.UserMapper">
    SELECT id, name, email, users.profile_img
    FROM users
    WHERE name LIKE CONCAT('%', #{keyword}, '%')
    ORDER BY name
    LIMIT 5
    </select>
</mapper>